* {
  box-sizing: border-box;
  width:100%;
}

header {
  background-color: #666666;
  padding: 1px;
  text-align: left;
  font-size: 15px;
  color: white;
}

body {
  font-family: sans-serif;
  padding-left:5%;
  padding-right:5%;
  background-color:#424242;
  font-size:24px;
  text-align:justify;
  margin: 0;

}

section {
  color: #C2C0C0;
  padding-top:10px;
  padding-bottom:2%;
  text-align: justify;
  width: 98%;

}

a{
    text-decoration:none;
    }

article {
  color: #C2C0C0;
  padding-top:10px;
  padding-bottom:2%;
  text-align: justify;
  width: 98%;
  background-color: "black";
}



h1, h2, h3, h4, h5 {
    color:white;
}

h4 {
    padding-left:25px;
}

h5 {
    font-weight:normal;
    font-style:italic;
    text-indent:50px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {

  max-width: 200%;
  min-width: 20%;
  height:auto;
  background: #666;
  padding-left: 0px;
  padding-bottom: 0px;

}

table, th, td {
  border:1px solid white;
  font-family: courier;
  font-size: 21px;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  white-space:no-wrap;

}



.table1, th, td {
  border:1px solid white;
  font-family: courier;
  font-size: 21px;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  table-layout: fixed;
  word-break:keep-all;

}

th.word {
  width: 30%;
  table-layout: fixed;
}

th.meaning {
  width: 30%;
  table-layout: fixed;
}
th.example {
  width: 40%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}

td.take {
  width: 25%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}
td.assist {
  width: 25%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}
td.leave {
  width: 25%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}
td.use {
  width: 25%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}


.table2, td {
    border:1px solid white;
  font-family: courier;
  font-size:21px;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  white-space:no-wrap;
  table-layout: fixed;

  word-break:keep-all;
}

.table3, td {
    border:1px solid white;
  font-family: courier;
  font-size: 21px;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  white-space:no-wrap;
  table-layout: fixed;
     word-wrap: break-word;
  word-break:break-all;
}

.table4, td {
    border:1px solid white;
  font-family: courier;
  font-size: 21px;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  white-space:no-wrap;
  table-layout: fixed;
     word-wrap: break-word;
  word-break:break-all;
}
td.careful {
  width: 50%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}
td.restaurant {
  width: 50%; /* Not necessary, since only 70% width remains */
  table-layout: fixed;
}

word-wrap: break-word

.table5, td, th, tr {
    border:1px solid white;
  font-family: courier;
  font-size: 21px;
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
  white-space:now-wrap;
  table-layout: fixed;
    #word-wrap: break-word;
  word-break:keep-all;
}

#tr:nth-child(even) {
  #background-color: #D6EEEE;
#}


td.uno {
 width: 36%;
 table-layout: fixed;
 }

td.dos {
 width: 15%;
 table-layout: fixed;
 }

td.tres {
 width:9%;
 table-layout: fixed;
 }

td.cuatro {
 table-layout: fixed;
 }

.rectangle {
  height: 200px;
  width: 85%;
  align:center;
  background-color: white;
  }


.table6{
    border:0px;
  font-family: courier;
  font-size: 21px;
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
  white-space:now-wrap;
  table-layout: fixed;
    #word-wrap: break-word;
  word-break:keep-all;
  border-radius:5%;
}

td.infographic1 {
      vertical-align:top;
}

#toc_container {
    background: #292828 none repeat scroll 0 0;
    border: 1px solid #424242;
    display: table;
    font-size: 95%;
    margin-bottom: 1en;
    padding: 1px;
    width:auto;
    text-align:left;
    text-decoration:none;
}

.toc_title {
    font-weight: 700;
    text-align: left;
    text-indent: 40px;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    width:auto;
}


li a {
  display: block;
  color: orange;
  text-decoration: none;
}


li a.active {
  background-color: #B9FC1C;
    text-decoration: none;
}


li a:hover:not(.active) {
  background-color: orange;
  color: white;
}


/* Responsive layout - makes the two columns/boxes stack on top of
each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article, p, caption {
    width: 100%;
    height: auto;
  }
}}